<div class="section " id="references">
    <div class="page-heading">REFERENCES</div>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores temporibus in voluptate dolor voluptas, quis impedit distinctio doloremque sed! Velit perspiciatis architecto ullam incidunt similique. Beatae sit voluptate cum asperiores. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores temporibus in voluptate dolor voluptas, quis impedit distinctio doloremque sed! Velit perspiciatis architecto ullam incidunt similique. Beatae sit voluptate cum asperiores. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores temporibus in voluptate dolor voluptas, quis impedit distinctio doloremque sed! Velit perspiciatis architecto ullam incidunt similique. Beatae sit voluptate cum asperiores.</p>
</div>