<div class="section" id="restore">
    <div class="page-heading">RESTORE AN IMAGE</div>

    {{!-- Toast --}}
    {{#if errMsg}}
        <h6 class="alert alert-danger mt-4">{{{errMsg}}}</h6>
    {{/if}}

    {{#if successMsg}}
        <h6 class="alert alert-success mt-4">{{{successMsg}}}</h6>
    {{/if}}
    

    <div id="images">
        

        {{!-- INPUT --}}
        <div>
            <div class="upload-button-container upload-input upload-button" id="input-box">
                <form action="/auth/uploadImage" method="POST" enctype="multipart/form-data" onsubmit="handleSubmit(event)">
                    <!-- Upload Image -->
                    <div class="form-group input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> <i class="fas fa-file"></i> </span>
                        </div>
                        <div class="custom-file">
                            <input name="rawImg" type="file" class="custom-file-input" id="input" onchange="displayFileName()">
                            <label class="custom-file-label" for="input" id="fileNameLabel">Upload image</label>
                        </div>
                        <script>
                        function displayFileName() {
                            const input = document.getElementById('input');
                            const fileName = input.files[0].name;
                            const label = document.getElementById('fileNameLabel');
                            label.textContent = fileName;
                        }
                    </script>
                    </div> 

                    <!-- SUBMIT BUTTON -->
                    <div class="form-group" style="margin-top: 2vh;">
                        <button type="submit" class="btn btn-primary btn-block">Upload</button>
                    </div>                                                                
                </form>
            </div>
        </div>




        {{!-- OUTPUT --}}
        <div>
        <div class="box" id="output-box">   
            <img src="/public/outputs/{{output}}" alt="{{output}}">

        </div>
        </div>

    </div>

    <div class="upload-button-container">
        <input type="file" id="uploadInput" class="upload-input">
        <label for="uploadInput" class="upload-button"><h1>+</h1></label>
    </div>

    <div>
        <form class="upload-button-container" id="uploadForm" action="/auth/uploadImage" method="POST" enctype="multipart/form-data">

            <input name="rawImg" type="file" class="custom-file-input" id="input" onchange="handleSubmit(event)">
            <label for="input" class="upload-button"><h1>+</h1></label>

        </form>
    </div>



    
</div>